.product {
  margin: 10px 0px;

  .card {
    width: 18rem;
    margin: 0 auto;

    .image-container {
      overflow: hidden;

      img {
        max-height: 350px;
        object-fit: cover;
        transform: scale(1, 1);
        transition: all 0.2s ease-out;
      }

      img:hover {
        transform: scale(1.1);
      }
    }
  }

  .price {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: bold;
    }
  }

  .link-style {
    background-color: rgb(76, 74, 83);
    color: whitesmoke;
    font-weight: bold;
  }
}
