.globalheader {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: black;
  .a-link {
    color: white;
    text-decoration: none;
  }
  .logo {
    font-size: 40px;
    margin-left: 15px;
    color: white;
  }
  .header-right {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 100px;
    @media (max-width: 768px) {
      margin-right: 15px;
    }
    color: white;
    width: 50%;
    justify-content: flex-end;
    .toggle {
      cursor: pointer;
      width: 40px;
      display: none;
      @media (max-width: 768px) {
        display: block;
        margin: 0px 10px;
      }
    }
  }
  .rwd-toggle {
    input {
      border-radius: 30px;
    }
    @media (max-width: 768px) {
      overflow: hidden;
      transition: height 0.3s;
      border: 1px solid rgb(75, 74, 74);
      border-radius: 3px;
      width: 300px;
      background: rgb(255, 255, 255);
      position: absolute;
      z-index: 999;
      bottom: -100px;
    }
    .a-link {
      cursor: pointer;
      padding: 0px 10px;
      @media (max-width: 768px) {
        margin: 10px 0px;
        display: block;
        color: black;
        &:hover {
          color: red;
        }
      }
    }
  }
}
