.order {
  margin: 50px auto;
  overflow-x: hidden;
}
.item-header {
  align-self: center;
  text-align: center;
  line-height: 30px;
  margin: 15px auto;
  padding-left: 15px;
  border: 1px solid rgb(158, 156, 156);
  border-radius: 3px;
}
