@import './cartbody';
@import './cartheader';
.paymentButton {
  display: flex;
  justify-content: center;

  button {
    @media (max-width: 992px) {
      width: 150px;
      height: 50px;
    }
    margin: 15px auto;
    background-color: #343a40;
    color: white;
    font-weight: bold;
    width: 10%;
  }
}
