.item-body {
  align-items: center;
  border-radius: 3px;
  border: 1px solid rgb(158, 156, 156);
  margin: 15px auto;
  text-align: center;
  div {
    width: 15%;
  }
  .product-detail {
    display: flex;
    width: 40%;
    font-size: 15px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    align-items: center;
    height: 100%;
    img {
      @media (max-width: 768px) {
        width: 50%;
      }
      margin-right: 15px;
      height: 100%;
    }
  }

  .amount {
    background: white;

    .countinput {
      @media (max-width: 992px) {
        width: 100%;
      }
      .count-number {
        padding: 0 5px;
      }
      width: 50%;
      margin: 0 auto;
      text-align: center;

      div {
        width: 20px;
        cursor: pointer;
      }

      .min {
        border-right: 1px solid black;
      }

      .plus {
        border-left: 1px solid black;
      }
    }
  }

  .operate {
    i {
      cursor: pointer;
    }
  }
}

.total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 30px;

  .counts {
    font-size: 18px;
  }

  button {
    @media (max-width: 992px) {
      width: 25%;
    }
    height: 35px;
    cursor: pointer;
    align-items: center;
    margin-left: 15px;
    background-color: #212529;
    color: white;
    width: 15%;
    font-weight: bold;

    a:visited {
      color: white;
    }
  }
}
